<footer class="app-footer" id="app-footer" role="contentinfo">
    <div class="container">
        <div class="page-header app-footer-header">
            <div class="h2">Kontakt</div>
        </div>
        <div class="app-footer-content">
            <div class="row">
                <div class="col-xs-12 col-sm-8">
                    <div class="row">
                        <div class="col-xs-12 col-sm-4">
                            <a class="app-sign app-sign-default" href="http://facebook.com/pages/Kaiser-Licht-Ton/352335764938458?fref=ts">
                                f
                            </a>
                        </div>
                        <div class="col-xs-12 col-sm-4">
                            <address>
                                <strong>Kaiser Licht &amp; Ton</strong><br>
                                G&ouml;gginger Str. 98<br>
                                Augsburg 86199
                            </address>
                        </div>
                        <div class="col-xs-12 col-sm-4">
                            <address>
                                <abbr title="Phone">T:</abbr> 0821 93 00 1<br>
                                <abbr title="Email">E:</abbr> info@kaiser-tv.de
                            </address>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <strong>Kaiser Licht &amp; Ton</strong>
                    &copy; 2014 All rights reserved.<br>
                    <a href="/kontakt">Impressum</a>
                </div>
            </div>
        </div>
    </div>
</footer>