<div class="carousel slide app-logobar app-logobar-products" id="app-logobar-products" data-ride="carousel">
  <div class="carousel-inner app-logobar-slider">
    <div class="item app-logobar-slider active">
      <div class="row">
        <div class="col-xs-12 col-sm-2">
          <img class="img-responsive" src="{{ page.base_url }}assets/img/akg.jpg" />
        </div>
        <div class="col-xs-12 col-sm-2">
          <img class="img-responsive" src="{{ page.base_url }}assets/img/bss.jpg" />
        </div>
        <div class="col-xs-12 col-sm-2">
          <img class="img-responsive" src="{{ page.base_url }}assets/img/crown.jpg" />
        </div>
        <div class="col-xs-12 col-sm-2">
          <img class="img-responsive" src="{{ page.base_url }}assets/img/dbx.jpg" />
        </div>
        <div class="col-xs-12 col-sm-2">
          <img class="img-responsive" src="{{ page.base_url }}assets/img/dpa.jpg" />
        </div>
        <div class="col-xs-12 col-sm-2">
          <img class="img-responsive" src="{{ page.base_url }}assets/img/dynacord.jpg" />
        </div>
      </div>
    </div>
    <div class="item app-logobar-slider">
      <div class="row">
        <div class="col-xs-12 col-sm-2">
          <img class="img-responsive" src="{{ page.base_url }}assets/img/electrovoice.jpg" />
        </div>
        <div class="col-xs-12 col-sm-2">
          <img class="img-responsive" src="{{ page.base_url }}assets/img/eurotruss.jpg" />
        </div>
        <div class="col-xs-12 col-sm-2">
          <img class="img-responsive" src="{{ page.base_url }}assets/img/fostex.jpg" />
        </div>
        <div class="col-xs-12 col-sm-2">
          <img class="img-responsive" src="{{ page.base_url }}assets/img/jbl.jpg" />
        </div>
        <div class="col-xs-12 col-sm-2">
          <img class="img-responsive" src="{{ page.base_url }}assets/img/k&m.jpg" />
        </div>
        <div class="col-xs-12 col-sm-2">
          <img class="img-responsive" src="{{ page.base_url }}assets/img/kt.jpg" />
        </div>
      </div>
    </div>
    <div class="item app-logobar-slider">
      <div class="row">
        <div class="col-xs-12 col-sm-2">
          <img class="img-responsive" src="{{ page.base_url }}assets/img/midas.jpg" />
        </div>
        <div class="col-xs-12 col-sm-2">
          <img class="img-responsive" src="{{ page.base_url }}assets/img/nexo.jpg" />
        </div>
        <div class="col-xs-12 col-sm-2">
          <img class="img-responsive" src="{{ page.base_url }}assets/img/pioneer.jpg" />
        </div>
        <div class="col-xs-12 col-sm-2">
          <img class="img-responsive" src="{{ page.base_url }}assets/img/roland.jpg" />
        </div>
        <div class="col-xs-12 col-sm-2">
          <img class="img-responsive" src="{{ page.base_url }}assets/img/shure.jpg" />
        </div>
        <div class="col-xs-12 col-sm-2">
          <img class="img-responsive" src="{{ page.base_url }}assets/img/soundcraft.jpg" />
        </div>
      </div>
    </div>
    <div class="item app-logobar-slider">
      <div class="row">
        <div class="col-xs-12 col-sm-2">
          <img class="img-responsive" src="{{ page.base_url }}assets/img/studer.jpg" />
        </div>
        <div class="col-xs-12 col-sm-2">
          <img class="img-responsive" src="{{ page.base_url }}assets/img/univox.jpg" />
        </div>
      </div>
    </div>
  </div>
  <a class="left carousel-control" href="#app-logobar-products" data-slide="prev">
    <i class="fa fa-angle-left fa-3x"></i>
  </a>
  <a class="right carousel-control" href="#app-logobar-products" data-slide="next">
    <i class="fa fa-angle-right fa-3x"></i>
  </a>
</div>