<div class="app-logobar">
  <div class="row">
    <div class="col-xs-12 col-sm-2">
      <img class="img-responsive" src="{{ page.base_url }}assets/img/dpa-lime-logo.jpg" />
    </div>
    <div class="col-xs-12 col-sm-2">
      <img class="img-responsive" src="{{ page.base_url }}assets/img/akg_logo_4c.jpg" />
    </div>
    <div class="col-xs-12 col-sm-2">
      <img class="img-responsive" src="{{ page.base_url }}assets/img/bss_logo.jpg" />
    </div>
    <div class="col-xs-12 col-sm-2">
      <img class="img-responsive" src="{{ page.base_url }}assets/img/crown_logo_quer.jpg" />
    </div>
    <div class="col-xs-12 col-sm-2">
      <img class="img-responsive" src="{{ page.base_url }}assets/img/dbx_logo.jpg" />
    </div>
    <div class="col-xs-12 col-sm-2">
      <img class="img-responsive" src="{{ page.base_url }}assets/img/jbl_logo.jpg" />
    </div>
    <div class="col-xs-12 col-sm-2">
      <img class="img-responsive" src="{{ page.base_url }}assets/img/koenig-meyer.jpg" />
    </div>
    <div class="col-xs-12 col-sm-2">
      <img class="img-responsive" src="{{ page.base_url }}assets/img/logo-fostex.jpg" />
    </div>
    <div class="col-xs-12 col-sm-2">
      <img class="img-responsive" src="{{ page.base_url }}assets/img/logo-midas.jpg" />
    </div>
    <div class="col-xs-12 col-sm-2">
      <img class="img-responsive" src="{{ page.base_url }}assets/img/pioneer-dj.jpg" />
    </div>
    <div class="col-xs-12 col-sm-2">
      <img class="img-responsive" src="{{ page.base_url }}assets/img/roland.jpg" />
    </div>
    <div class="col-xs-12 col-sm-2">
      <img class="img-responsive" src="{{ page.base_url }}assets/img/soundcraft_logo.jpg" />
    </div>
    <div class="col-xs-12 col-sm-2">
      <img class="img-responsive" src="{{ page.base_url }}assets/img/studer_logo.jpg" />
    </div>
    <div class="col-xs-12 col-sm-2">
      <img class="img-responsive" src="{{ page.base_url }}assets/img/univox_logo.jpg" />
    </div>
  </div>
</div>