<div class="carousel slide app-logobar app-logobar-products" id="app-logobar-products" data-ride="carousel">
  <div class="carousel-inner app-logobar-slider">
    <div class="item app-logobar-slider active">
      <div class="row">
        <div class="col-xs-12 col-sm-2">
          <img class="img-responsive" src="{{ page.base_url }}assets/img/city-galerie.jpg" />
        </div>
        <div class="col-xs-12 col-sm-2">
          <img class="img-responsive" src="{{ page.base_url }}assets/img/cube.jpg" />
        </div>
        <div class="col-xs-12 col-sm-2">
          <img class="img-responsive" src="{{ page.base_url }}assets/img/deeds.jpg" />
        </div>
        <div class="col-xs-12 col-sm-2">
          <img class="img-responsive" src="{{ page.base_url }}assets/img/panther.jpg" />
        </div>
        <div class="col-xs-12 col-sm-2">
          <img class="img-responsive" src="{{ page.base_url }}assets/img/peaches.jpg" />
        </div>
        <div class="col-xs-12 col-sm-2">
          <img class="img-responsive" src="{{ page.base_url }}assets/img/schaller.jpg" />
        </div>
      </div>
    </div>
    <div class="item app-logobar-slider">
      <div class="row">
        <div class="col-xs-12 col-sm-2">
          <img class="img-responsive" src="{{ page.base_url }}assets/img/tanzbar.jpg" />
        </div>
        <div class="col-xs-12 col-sm-2">
          <img class="img-responsive" src="{{ page.base_url }}assets/img/thorbraeu-keller.jpg" />
        </div>
      </div>
    </div>
  </div>
  <a class="left carousel-control" href="#app-logobar-products" data-slide="prev">
    <i class="fa fa-angle-left fa-3x"></i>
  </a>
  <a class="right carousel-control" href="#app-logobar-products" data-slide="prev">
    <i class="fa fa-angle-right fa-3x"></i>
  </a>
</div>