//
// Application stylesheet
// -----------------------------------------------

.wf-active {
    b,
    strong {
        font-weight: 600;
    }
}

.template-navigation-controlpanel .label:empty {
  display: block;
}

.brand-blue {
  color: @app-blue;
}
.brand-purple {
  color: @app-purple;
}
.brand-pink {
  color: @app-pink;
}
.brand-red {
  color: @app-red;
}
.brand-orange {
  color: @app-orange;
}

.app-toolbar + .app-header {
    margin-top: @navbar-height;
}

.app-header {
    border-bottom: 1px solid @gray-dark;
    background: url(../assets/img/header-bg.jpg) no-repeat 0 0 transparent;
    background-size: cover;
}
.section-leistungen {
  .app-header {
    background-image: url(../assets/img/header-bg-01.jpg);
  }
}
.section-produkte {
  .app-header {
    background-image: url(../assets/img/header-bg-02.jpg);
  }
}
.section-impressum {
  .app-header {
    background-image: url(../assets/img/header-bg-03.jpg);
  }
}

.app-header-hero {
    padding: @line-height-computed;
    padding: @jumbotron-padding;
    margin-bottom: @jumbotron-padding;
    font-size: @jumbotron-font-size;
    font-weight: 200;
    line-height: (@line-height-base * 1.5);
    color: @gray-lighter;
    text-align: center;
    h1,
    .h1 {
      line-height: 1;
      color: @jumbotron-heading-color;
    }
    p {
      line-height: 1.4;
    }
}

.app-header-teaserbar {
  margin-top: ceil((@navbar-height * 1.5));
  border-top: 1px solid @gray-lighter;
  > .app-header-teaserbar-row {
    margin-top: -(@navbar-height * 1.5);
    .teaserbar-link {
      color: #fff;
    }
  }
}

.app-content-body {
    padding-top: @jumbotron-padding;
    padding-bottom: @jumbotron-padding;
}

.app-header-action {
    text-align: center;
}

.app-page-section {
    padding-top: @line-height-computed;
    padding-bottom: @line-height-computed;
}

.cb-margin-bottom {
  margin-bottom: @line-height-computed;
}

.app-panelpage-item {
    padding-left: @padding-base-horizontal;
    border-left: 1px solid @gray-light;
}

.section-leistungen,
.section-leistungen-1,
.section-produkte, {
  .panelgrid-row {
    padding-left: @padding-base-horizontal;
    border-left: 1px solid @gray-light;
  }
}