//
// Application stylesheet
// -----------------------------------------------

.wf-active {
    b,
    strong {
        font-weight: 600;
    }
}

.app-toolbar + .app-header {
    margin-top: @navbar-height;
}

.app-header {
    border-bottom: 1px solid @gray-dark;
    background: url(../assets/img/header-bg.jpg) no-repeat 0 0 transparent;
    background-size: cover;
}

.app-header-hero {
    padding: @line-height-computed;
    padding: @jumbotron-padding;
    margin-bottom: @jumbotron-padding;
    font-size: @jumbotron-font-size;
    font-weight: 200;
    line-height: (@line-height-base * 1.5);
    color: @gray-lighter;
    text-align: center;
    h1,
    .h1 {
      line-height: 1;
      color: @jumbotron-heading-color;
    }
    p {
      line-height: 1.4;
    }
}

.app-content-body {
    padding-top: @jumbotron-padding;
    padding-bottom: @jumbotron-padding;
}

.app-header-action {
    text-align: center;
}

.app-page-section {
    padding-top: @line-height-computed;
    padding-bottom: @line-height-computed;
}

.app-panelpage-item {
    padding-left: @padding-base-horizontal;
    border-left: 1px solid @gray-light;
}