//
// Footer
// -----------------------------------

.app-footer {
    padding: @line-height-computed;
    border-top: 1px solid @gray-lighter;
}

.app-footer-content {
    color: @gray-light;
}

.app-logobar {
  .carousel-control {
    text-align: left;
    &.left {
      left: -(@line-height-computed * 2);
      background: transparent;
    }
    &.right {
      right: -(@line-height-computed * 2);
      background: transparent;
      text-align: right;
    }
  }
}
.app-logobar-slider {
  //padding-right: @navbar-height;
  //padding-left: @navbar-height;
  // Account for jankitude on images
    img,
    a > img {
      .img-responsive();
      line-height: 1;
    }
}
