
.icon-mic:before { content: '\e800'; } /* '' */
.icon-sound-1:before { content: '\e805'; } /* '' */
.icon-adjust:before { content: '\e804'; } /* '' */
.icon-cog:before { content: '\e802'; } /* '' */
.icon-params:before { content: '\e801'; } /* '' */
.icon-sound:before { content: '\e803'; } /* '' */